

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #2575fc;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
}

.navlink a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
}
